#speech {font-size: 12;
     font-style:normal;}
#song {font-size: 14;
     font-style: italic;}
#direction {font-size: 13;
     background-color: bisque;}
#name {font-size: 18;
     }
#direction.hover {background-color: bisque;
     color: black;}
.cas {color: blue;}
.luiz {color: red;}
.both {color: green;}
.table {border: 10ch;;
    color: black;
    background-color: aquamarine;
    text-align: center;}
    tr:nth-child(even) {
        background-color:darkgreen;
        color: white;
      }
#name:hover { color: fuchsia;
    border: 5ch;
    border-color: black;
}