#speech {font-size: 12;
     color:black;
     font-style:normal;}
#song {font-size: 14;
     color: black;
     font-style: italic;}
#direction {font-size: 13;
     color:black;
     background-color: bisque;}
#name {font-size: 18;
     }
#direction.hover {background-color: bisque;
     color: black;}
.cas {color: blue;}
.luiz {color: red;}
.both {color: green;}